<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Express</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">
</head>
<body>
<app-root>
    <div>Loading...</div>
</app-root>
<script type="text/javascript" src="/javascripts/polyfills.js"></script>
<script type="text/javascript" src="/javascripts/vendor.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>